{% extends '_layout.html' %}

{% block title %}Movie Rating App | Movie{% endblock %}

{% block body %}
<h1 class="mb-5"></h1>
<!-- TODO: Feature 4 -->


<h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Movie Title: {{single.title}}</h2>
<p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Movie ID: {{single.movie_id}}</p>
<p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Director: {{single.director}}</p>
<p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: red;">Rating: {{single.rating}} star(s)</p>


<form action="/movies/{{single.movie_id}}/edit" method="get">
    <button type="submit" name="movie_edit" value="{{single.id}}" style="background-color: green; width: 150px;" class="btn btn-primary">Edit Movie</button>
</form>


<form action="/movies/{{single.movie_id}}/delete" method="post">
    <button type="submit" name="movie_remove" value="{{single.id}}" style="background-color: red; margin-top: 20px; width: 150px;" class="btn btn-primary">Delete Movie</button>
</form>














{% endblock %}
